@import url("https://fonts.googleapis.com/css2?family=Playwrite+MX+Guides&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif&family=Martian+Mono:wght@100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Borel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Michroma&family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allan:wght@400;700&display=swap");

:root {
  --cor-primaria: #000000;
  --cor-secundaria: #f6f6f6;
  --cor-terciaria: #22d4fd;
  --cor-hover: #3d4398;
}

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  background-color: var(--cor-primaria);
  color: var(--cor-secundaria);
}

.cabecalho {
  display: flex;
  justify-content: center;
  background-color: yellow;
  font-family: "Special Gothic Expanded One", sans-serif;
  font-weight: 500;
  font-size: 1.875rem;
}

.cabecalho_grupo_links {
  display: flex;
  justify-content: center;
  padding: 0.5em 55% 0.5em 0%;
  gap: 1em;
}

.cabecalho_link {
  color: mediumblue;
  text-decoration: none;
}

.cabecalho_link:hover {
  color: deepskyblue;
}

.titulo_destaque {
  font-family: "Martian Mono", monospace;
  color: var(--cor-terciaria);
}

.titulo_destaque:hover {
  font-family: "Michroma", sans-serif;
  color: fuchsia;
}

.apresentacao {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 3% 5%;
  justify-content: space-evenly;
  gap: 0.5em;
}

.minhadescricao {
  width: 615px;
  display: flex;
  flex-direction: column;
  gap: 0;
}

.minhadescricao_titulo {
  font-family: "Instrument Serif", serif;
  font-size: 2.25rem;
  margin: 0;
  padding: 1%;
}

.minhadescricao_corpo {
  font-family: "Playwrite MX Guides", cursive;
  font-size: 1.5rem;
  line-height: 1.75em;
  margin: 0;
  padding: 5% 1%;
}

.minhadescricao_corpo:hover {
  font-family: "Allan", serif;
  color: pink;
  font-size: 2.25rem;
  line-height: 1.25em;
}

.area_botoes_externos {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

.apresentacao_botoes_externos {
  font-family: "Permanent Marker", cursive;
  font-size: 2.5rem;

  text-align: center;
}

.botoes_externos {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 3px dashed var(--cor-terciaria);
  width: 380px;
  border-radius: 10px;
  text-decoration: none;
  color: var(--cor-secundaria);
}

.botoes_externos:hover {
  background-color: var(--cor-hover);
}

.botao_instagram {
  font-family: "Borel", cursive;
  font-size: 2.5rem;
  vertical-align: middle;
  padding: 0.6em 0 0;
  gap: 0.25em;
}

.botao_github {
  font-family: "Rubik Glitch", system-ui;
  font-size: 3rem;
  padding: 0.4em 0 0.35em;
  gap: 0.35em;
}

.imagem_instagram {
  padding: 0 0 0.75em;
}

.foto {
  width: 400px;
}

.rodape {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: var(--cor-terciaria);

  padding: 0.65em;
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 1.875rem;
  color: midnightblue;
}

@media (max-width: 1000px) {
  .cabecalho_grupo_links {
    padding: 3%;
  }
  .apresentacao {
    flex-direction: column-reverse;
    padding: 3% 15%;
  }
}

@media (max-width: 600px) {
  .apresentacao {
    width: auto;
    padding: 3% 2%;
  }

  .minhadescricao {
    width: auto;
    padding: 3% 2%;
  }

  .botoes_externos {
    width: 90vmin;
  }

  .foto {
    width: 90vmin;
  }
}
